<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	
	<title>Meteor Boilerplate</title>
	<meta name="description" content="" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- FAVICONS -->
	<link rel="icon" sizes="16x16 32x32" href="https://s3-eu-west-1.amazonaws.com/uw20150627/_assets/favicons/favicon.ico">
	<link rel="apple-touch-icon" sizes="76x76" href="https://s3-eu-west-1.amazonaws.com/uw20150627/_assets/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="120x120" href="https://s3-eu-west-1.amazonaws.com/uw20150627/_assets/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="152x152" href="https://s3-eu-west-1.amazonaws.com/uw20150627/_assets/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="https://s3-eu-west-1.amazonaws.com/uw20150627/_assets/favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://s3-eu-west-1.amazonaws.com/uw20150627/_assets/favicons/favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://s3-eu-west-1.amazonaws.com/uw20150627/_assets/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="https://s3-eu-west-1.amazonaws.com/uw20150627/_assets/favicons/favicon-96x96.png">
	<link rel="shortcut icon" href="https://s3-eu-west-1.amazonaws.com/uw20150627/_assets/favicons/favicon.ico">
	<!-- THEME COLOR FOR ANDROID BROWSER TAB COLOR -->
	<meta name="theme-color" content="#000000">
	<!-- GOOGLE FONTS -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic' rel='stylesheet' type='text/css'>
	<!-- GOOGLE ANALYTICS -->
</head>